body {
    padding: 0;
    margin: 0;
    background-color: #7e1946;
}

.navegador {
    position:fixed;
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:rgba(39, 37, 37, 0.5);
    z-index:3;
}
.navegador ul {
    margin-right:1%;
}
.navegador ul a {
    font-family: monospace;
    color:white;
    text-decoration: none;
    display:inline-block;
    margin: 0 5px;
    font-size: 1.2em;
}
.navegador ul a li{
    list-style: none;
}
.navegador ul a:hover {
    color:yellow;
    transition:.8s;
}
.navegador img {
    margin-left:3%;
}

#botonlogin {
    display:inline-block;
    text-align:center;
    padding: 5px;
    width:100px;
    background-color:rgb(238, 24, 60);
    border-radius:10px;
}
#botonlogin:hover{
    background-color:rgb(119, 24, 40);
    transition: .5s;
}
.sanguchito {
    position:fixed;
    font-size:30px;
    line-height:80px;
    color:red;
    cursor:pointer;
    display:none;
    right:5%;
    top:10px; 
    z-index:4;
}
#check {
    display:none;
}

.portada {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #000004;
}

.portada-imagen {
    justify-content: center;
    align-items:center;
    display:flex;
    width:100%;
    height:100%;
}
.portada-imagen img{
    width: 90%;
    height:80%;
    border-radius:5px;
    box-shadow: 0px 0px 15px;
}

.portada-parrafo {
    height:20%;
    width: 40%; 
    position:absolute;
    display:flex;
    flex-direction:column;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    align-items:center;  
    animation: sombreado;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes sombreado {
    50%{
        box-shadow: 0px 0px 10px 1px rgb(245, 245, 18);
    }
}
.portada-parrafo h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color:white;
}
.texto-rojo{
    color:rgb(248, 49, 49);
}
.portada-parrafo input{
    width:150px;
    border:none;
    background-color: rgb(248, 49, 49);
    border-radius: 10px;
    font-family: monospace;
    height:30px;
    cursor: pointer;
}
.portada-parrafo input:hover{
    background-color:yellow;
    transition:.3s;
}
.nosotros {
    padding:30px 0px;
    background-color: #7e1946;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.imagen-nosotros{
    width:40%;
    height:60%;
    padding:10px 10px;
    border:2px solid;
    transform: rotate(10deg);

}
.imagen-nosotros img {
    width:100%;
    height:100%; 
}
.texto-nosotros {
    width:40%;
    font-size: 1.4em;
}
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height:20px;
    background:rgba(0,0,0,0.3);
    color:white;
    font-family: monospace;
    font-size: .8em;
    width:100%;
}
.catalogo {
    width:100%;
    height: auto;
    margin-top:50px;
    margin-bottom: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.productos {
    height:375px;
    width:300px;
    background-color:#fbfef9;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    box-shadow: 0px 0px 5px 0px;
    border-radius:10px;
    text-align: center;
    font-family: monospace;
    overflow:hidden;   
}
.productos-info {
    border-radius:50px;
    width:100%;
    height:200px;
    background-color: rgb(166, 52, 70,0.8);
    padding: 1px 0;
}
.productos-info:hover {
    transform:translateY(-19%);
    transition:.5s;
    cursor:pointer;
}
.productos img {
    padding:30px;
    display:flex;
    margin: auto;
    width:30%;
    height:190px;
}
.productos button {
    color:rgb(42, 255, 42);
    border:none;
    background:black;
    display:block;
    margin:auto;
    border-radius:5px;
    box-shadow: 0px 0px 5px green;
}
.productos input {
    margin-top:25px;
    border:none;
    height:30px;
    width: 100px;
    border-radius:15px;
    background-color:red;
    cursor:pointer;
}
.productos input:hover {
    background: yellow;
    transition: .3s;
}

.contenedor-contacto {
    border-top-left-radius: 350px;
    background-color:#000004;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
 
}
.contacto {
    padding: 30px 0;
    width:500px;
    height:80%;
    background-color: #7e1946;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-family: monospace;
    box-shadow: 3px 3px 30px black;
}
.contacto input {
    padding: 0 10px;
    border-radius:10px;
    border:1px solid;
    margin-top:20px;
    height:40px;
    width:60%;
}
.contacto textarea {
    border-radius:10px;
    border:1px solid;
    margin-top:20px;
    resize: none;
    
}

#enviar {
    background-color:#a63446;
    color:white;
    font-size: 1.1em;
    cursor:pointer;
    border:none;
}
#enviar:hover {
        background:rgb(219, 102, 102);
}
@media (max-width:700px) {
    .portada {
        width:100%;
        height:90vh;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .portada img{
        width: 95%;
        height:65%;
        border-radius:5px;
        box-shadow: 0px 0px 15px;
    }
    .portada-parrafo {
        width:60%;
    }
    .texto-nosotros p {
        font-size: 0.8em;

    }
    .texto-nosotros p {
        font-size: 0.8em;
    }
    .imagen-nosotros {
        height: 40%;
        width:40%;
    }
}
@media (max-width:550px) {
    .navegador {
        width:100%;
        height: auto;
        background:rgba(0,0,0,0.6);
        display:flex;
        justify-content: center;
        top:-100%;
    }
    .navegador img {
        display:none;
    }
    .navegador ul{
        display:flex;
        flex-direction:column;
    }
    #check:checked ~ .navegador {
        top:0;
    }
    .navegador ul a{
        margin-top:5px;
    }

    .sanguchito {
        display:block;
 
    }
    .portada {
        width:100%;
        height:100vh;
        display:flex;
        justify-content: center;
        align-items:center;

    }
    .portada-parrafo {
        width:80%;
        font-size: 0.9em;
    }
    .portada-imagen {
        height:70%;
        overflow:hidden;
    }
    .portada-imagen img{
        transform: scale(1.8,2);
    }
    .texto-nosotros {
        width:90%;
    }
    .texto-nosotros p {
        font-size: 0.8em;
        text-align:justify;
    }
    .texto-nosotros h2 {
        text-align:center;
        font-size:1.2em;
    }
    .nosotros {
        display:flex;
        flex-direction: column;
    }
    .imagen-nosotros {
       
        height: 30%;
        width:80%;
    }
    .contacto {
        width:90%;
        height: 70%;
    }

    .contacto input {
        width:60%;
        height: 40px;
    }
}
